Source: ros-lyrical-rosidl-generator-rs
Section: misc
Priority: optional
Maintainer: Esteve Fernandez <esteve@apache.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-ros-environment, ros-lyrical-rosidl-generator-c <!nocheck>, ros-lyrical-rosidl-pycommon <!nocheck>, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rosidl_generator_rs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rosidl-generator-rs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ament-cmake, ros-lyrical-ros-environment, ros-lyrical-rosidl-generator-c, ros-lyrical-rosidl-parser, ros-lyrical-rosidl-pycommon, ros-lyrical-rosidl-typesupport-c, ros-lyrical-rosidl-typesupport-interface, ros-lyrical-ros-workspace
Description: Generate the ROS interfaces in Rust.
