Source: ros-humble-rosidl-generator-rs
Section: misc
Priority: optional
Maintainer: Esteve Fernandez <esteve@apache.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-environment, ros-humble-rosidl-cmake <!nocheck>, ros-humble-rosidl-generator-c <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-rosidl-generator-rs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-cmake, ros-humble-ros-environment, ros-humble-rosidl-cmake, ros-humble-rosidl-generator-c, ros-humble-rosidl-parser, ros-humble-rosidl-typesupport-c, ros-humble-rosidl-typesupport-interface, ros-humble-ros-workspace
Description: Generate the ROS interfaces in Rust.
